:root {
	--secondarybgcolor: #0f0e13;
  --bgcolor: #19191f;
	--maincolor: #e9e9e9;
	--linkcolor: #2d5092;
	--linkcolorhover: #213a68;
	--fontsize: 16px;
}

body {
  color: var(--maincolor);
  background-color: var(--bgcolor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*body*/
#main {
  font-size: var(--fontsize);
	margin-top: 50px;
	margin-left: 250px;
}

/*links*/
a {
	color: var(--linkcolor);
	text-decoration: none;
}

a:hover {
	color: var(--linkcolorhover);
	text-decoration: none;
}


td {
	padding: 8px;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

table td {
  border: 3px solid var(--secondarybgcolor);
}

::selection {
  background: #000000;
}

#footer {
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: var(--secondarybgcolor);
  font-size: var(--fontsize);
	text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*navbar*/
#navbar {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondarybgcolor); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10px;
}

#navbar a {
	font-size: 20px;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  #navbar {
    width: 100%;
    height: 50px;
    position: fixed;
		left: 0;
  	bottom: 0;
  }
	#main {
		margin-top: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#navbar a {
		float: left;
	}
  div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 460px) {
	#navbar {
		height: 140px;
	}
	#main {
		margin-top: 150px;
	}
  #navbar a {
		position: auto;
    text-align: center;
    float: none;
  }
}