:root {
	--bgcolor: #34363a;
	--bgcolor2: #26282b;
	--bgcolor3: #1a1c1f2f;
	--bgcolorhover: #1a1c1f;
	--bggradient: linear-gradient(
        to bottom right,  
        var(--bgcolor), var(--bgcolor2)
    );
	--maincolor: #dfdfdf;
	--maincolor2: #ffc875;
	--linkcolor: #ffac31;
	--linkcolorhover: #e28f13;
	--emphasiscolor: #e7d39c;
	--fontsize: 16px;

	/*extra accent colors*/
    --accentcolor: #ff0077;
    --accentcolor2: #b90057;
}

::selection {
	background: #1b1b1b;
}

html {
	height: 100%;
}

body {
	color: var(--maincolor);
	/* background-color: var(--bgcolor); */
	background: var(--bggradient);
	font-family: Arial, Geneva, sans-serif, "Comic Sans Ms";
}

#main {
	font-size: var(--fontsize);
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 60px;
	position: relative;
}

h1 {
	font-weight: 200;
	color: var(--maincolor2);
}

h2 {
	font-weight: 200;
	color: var(--linkcolor);
}

h3 {
	font-weight: 200;
	color: var(--linkcolorhover);
}

a {
	color: var(--linkcolor);
	text-decoration: none;
	transition-duration: 500ms;
}

a:hover {
	color: var(--linkcolorhover);
	text-decoration: none;
}

td {
	padding: 10px;
}

table {
	border-collapse: collapse; 
	border-radius: 5px;
	border-style: hidden;
}

table tr {
	border: 3px solid var(--bgcolor2);
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	padding-left: 10px;
	padding-top: 3px;
	padding-top: 3px;
}

footer {
	position: absolute;
	right: 0;
	bottom: -10;
	left: 0;
	padding: 1rem;
	text-align: center;
/*   background-color: var(--secondarybgcolor);*/
}

input {
	padding: 5px;
    border-radius: 7px;
    text-align: left;
    border: 2px solid var(--linkcolor);
    background: var(--linkcolor);
    outline:none;
	transition-duration: 500ms;
}

input:focus {
    border:2px solid var(--linkcolorhover);
}

button {
	padding: 5px;
    border-radius: 7px;
    border: 2px solid var(--linkcolor);
    background: var(--linkcolor);
	transition-duration: 500ms;
}

button:hover {
    border: 2px solid var(--linkcolorhover);
    background: var(--linkcolor);
}

select {
	padding: 5px;
    border-radius: 7px;
    border: 2px solid var(--linkcolor);
    background: var(--linkcolor);
	transition-duration: 500ms;
}

select a:hover {
    border: 2px solid var(--linkcolorhover);
    background: var(--linkcolor);
}

/* footer {
	padding-top: 10px; 
	padding-bottom: 10px;
	background-color: var(--bgcolor2);
	font-size: var(--fontsize);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
} */

.paragraph {
	line-height: 1.5;
}

#navbar {
	height: 100%;
	width: 190px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--bgcolor3); /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10px;
}

#navbar a {
	font-size: 20px;
	float: left;
	display: block;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}

@keyframes loading {
  	0% {background-color: red;}
	50% {background-color: green; height: 200px;}
  	100% {background-color: yellow;}
}

/* The element to apply the animation to */
#loading {
	width: 100px;
	height: 0px;
	background-color: red;
	animation-name: loading;
	animation-duration: 1s;
	animation-iteration-count: 5;
	animation-fill-mode: forward;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	#navbar {
		width: 100%;
		height: 50px;
		position: fixed;
		left: 0;
		bottom: 0;
	}
	#main {
		margin-top: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#navbar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 460px) {
	#navbar {
		height: 140px;
	}
	#main {
		margin-top: 150px;
	}
  	#navbar a {
		position: auto;
    text-align: center;
    float: none;
  }
}