:root {
	--secondarybgcolor: #0f0e13;
	--bgcolor: #19191f;
	--bgcolorhover: #212129;
	--maincolor: #e9e9e9;
	--linkcolor: #2d5092;
	--linkcolorhover: #213a68;
	--emphasiscolor: #8c8cab;
	--fontsize: 16px;
}

body {
  color: var(--maincolor);
  background-color: var(--bgcolor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*body*/
#main {
  font-size: var(--fontsize);
	margin-top: 50px;
	margin-left: 250px;
	position: relative;
}

/*links*/
a {
	color: var(--linkcolor);
	text-decoration: none;
}

a:hover {
	color: var(--linkcolorhover);
	text-decoration: none;
}

em {
	color:var(--emphasiscolor)
}

td {
	padding: 10px;
}

table {
	border-collapse: collapse; 
	border-radius: 5px;
  border-style: hidden;
}
table tr {
  border: 3px solid var(--secondarybgcolor);
}

::selection {
  background: #000000;
}

footer {
  position: absolute;
  right: 0;
  bottom: -10;
  left: 0;
  padding: 1rem;
  text-align: center;
/*   background-color: var(--secondarybgcolor);*/
}

/* footer {
	padding-top: 10px; 
	padding-bottom: 10px;
	background-color: var(--secondarybgcolor);
  font-size: var(--fontsize);
	position: fixed;
	left: 0;
  bottom: 0;
  width: 100%;
} */

/*navbar*/
#navbar {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondarybgcolor); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10px;
}

#navbar a {
	font-size: 20px;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  #navbar {
    width: 100%;
    height: 50px;
    position: fixed;
		left: 0;
  	bottom: 0;
  }
	#main {
		margin-top: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#navbar a {
		float: left;
	}
  div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 460px) {
	#navbar {
		height: 140px;
	}
	#main {
		margin-top: 150px;
	}
  #navbar a {
		position: auto;
    text-align: center;
    float: none;
  }
}

/* The animation code */
@keyframes loading {
  0% {background-color: red;}
	50% {background-color: green;
			height: 200px;}
  100% {background-color: yellow;}
}

/* The element to apply the animation to */
#loading {
  width: 100px;
  height: 0px;
  background-color: red;
  animation-name: loading;
  animation-duration: 1s;
	animation-iteration-count: 5;
	animation-fill-mode: forward;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	padding-left: 10px;
	padding-top: 3px;
	padding-top: 3px;
}