@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Variables */
:root {
	--bgcolor: #2a2b2e;
	--bgcolor2: #1b1c1f;
	--bgcolor3: #1a1c1fc7;
	--bgcolor4: #1a1c1f6b;
	--bgcolorhover: #1a1c1f;
	--bggradient: linear-gradient(
		to bottom right,  
		var(--bgcolor), var(--bgcolor2)
	);
	--maincolor: #b2c0c5;
	--maincolor2: #a7c5d1;
	--linkcolor: #8bc0d4;
	--linkcolorhover: #6495a7;
	--linkcoloragain: #35423a;
	--errorcolor: #f12a45;

	--fontsize: 16px;
	--transitionms: 150ms;
	--borderradius: 10px;
}

/* Highlight color */
::selection {
	background: #131313;
}

/* Main styling */
html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Geneva, sans-serif, "Comic Sans Ms"; /* Comic Sans is awesome */
	color: var(--maincolor);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	box-sizing: border-box;
	white-space: nowrap;
	background-color: #000000;
	overscroll-behavior: None;

	scrollbar-color: var(--bgcolor) var(--bgcolorhover);
	scrollbar-width: thin;
	/* scrollbar */
}


body {
	margin: 0px;
	background: var(--bggradient);
	box-shadow: 0px 0px 10px var(--bgcolorhover);
}

/* used to allow for a scrollable background on the index */
#main-container {
	background: var(--bggradient);
	position: relative;
	min-height: 100%;
	flex-direction: column;
	padding: 0px;
	min-height: 100vh;
}

/* Main content area */
#main {
	position: relative;
	min-height: 100%;
	flex-direction: column;
	padding: 0px;
	min-height: 100vh;
	font-size: var(--fontsize);
	margin-left: 12%;
	margin-right: 12%;
	padding-top: 80px;
}

/* ----------------------------- Basic styling -------------------------------------------------------------------*/ 
/* Paragraph */
p {
	line-height: 1.5;
	white-space: normal;
}

/* Link */
a {
	color: var(--linkcolor);
	text-decoration: none;
	transition-duration: var(--transitionms);
}
a:hover {
	color: var(--linkcolorhover);
	text-decoration: none;
}

/* Headings */
h1, h2, h3 {
	font-weight: 200;
	line-height: 1em;
}
h1 {
	color: var(--maincolor2);
}
h2 {
	font-weight: 200;
	color: var(--linkcolor);
	padding: 0em;
}
h3 {
	font-weight: 200;
	color: var(--linkcolorhover);
}

/* Horizontal Rule */
hr {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: -20px;
	margin-right: -20px;
	border-color: var(--linkcolorhover);
}
.hr-min {
	color: var(--bgcolor4);
	margin-left: 0px;
	margin-right: 0px;
}

/* Iframe */
iframe {
	border-radius: var(--borderradius);
	color: var(--linkcolor);
	border-radius: var(--borderradius);
	border-color: var(--bgcolor);
	border-style: solid;
	border-width: 3px;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	transition-duration: var(--transitionms);
}
iframe:hover {
	border-color: var(--linkcolorhover);
}
iframe:active {
	background: var(--linkcolorhover);
}

/* Table */
table {
	border-collapse: collapse; 
	border-radius:  var(--borderradius);
	border-style: hidden;
}
table tr {
	border: 0px solid var(--bgcolor2);
	padding: 10px;
}
table td {
	border: 0px solid var(--bgcolor2);
	padding: 10px;
}

/* List */
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	padding-left: 10px;
	padding-top: 3px;
	padding-top: 3px;
	white-space: normal;
}

/* Button */
button {
	color: var(--linkcolor);
	padding: 10px;
	border-radius: var(--borderradius);
	border-color: var(--bgcolor);
	border-style: solid;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	transition-duration: var(--transitionms);
	outline: None;
}
button:hover {
	border-color: var(--linkcolorhover);
}
button:active {
	background: var(--linkcolorhover);
}

/* Input */
input {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius:  var(--borderradius);
	border-color: var(--bgcolor);
	color: var(--linkcolor);
	border-style: solid;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	transition-duration: var(--transitionms);
	outline: None;
}
input:hover {
	border: 2px solid var(--linkcolorhover);
}
input:focus {
	border: 2px solid var(--linkcolor);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}

/* Readonly input */
.readonlyInput:hover {
	border: 2px solid var(--linkcoloragain);
}
.readonlyInput:focus {
	border: 2px solid var(--linkcoloragain);
}

/* Label */
label {
	display: inline-block;
	margin-right: 10px;
}

/* Select */
select {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: var(--linkcolor);
	border-radius: var(--borderradius);
	border-color: var(--bgcolor);
	border-style: solid;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	transition-duration: var(--transitionms);
}

/* Footer */
footer {
	flex-grow: 0;
	flex-shrink: 0;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
}

/* ----------------------------- Shizzle Mcnizzle -------------------------------------------------------------------*/ 
/* Text Overflow

 */
.shrink-text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: block;
	line-height: 1em;
	max-height: 2em;
}

/* Navbar */
#navbar {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	vertical-align: middle;
	z-index: 1;
	background-color: var(--bgcolor3);
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	overflow: hidden;
	transition: 250ms;
}
#navbar a {
	height: 100%;
	font-size: 20px;
	float: left;
	display: block;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	transition: 0.4s; 
	border-radius: 5px;
	border-style: solid;
	border-color: #00000000;
	transition-duration: var(--transitionms);
	border-width: 2px;
}
#navbar a:hover {
	border-color: var(--linkcolorhover);
	background-color: var(--bgcolor3);
}

/* Horizontal Scroll Menu */
.horizontal-scroll-menu {
	overflow-x: auto;
	overflow-y: hidden;
	width: 10000px;
	white-space: nowrap;

	/* adds the fade effect to the edges */
	--mask: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 99%, rgba(5,5,5,0) 100%); 
	-webkit-mask: var(--mask); 
	mask: var(--mask);
}
.horiz-item {
	display: block;
	height: 300px;
	width: 100%;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Vertical Item */
.vert-item {
	height: 100%;
	width: 300px;
	vertical-align: top;
	display: inline-block;
	position: relative;
	text-align: center;
	white-space: normal;
	margin-bottom: 20px;
	min-height: 300px;
	border-radius: var(--borderradius);
	border-color: var(--bgcolor);
	border-style: solid;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	color: var(--linkcolor);
}
.vert-item:hover {
	background-color: var(--bgcolor4);
}
.vert-item img {
	border-radius: 14px 14px 0px 0px;
	object-fit: cover;
	height: 60%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}
.vert-item h2 {
	text-align: center;
	top: 8px;
	left: 16px;
	white-space: pre;
	position: static;
	color: #ffffff;
	text-shadow: 0px 0px 3px #000000;
}
.vert-item div {
	height: 100px;
	color: var(--maincolor);
	position: absolute;
	bottom: 0px;
	margin-left: 10px;
}

/* Title Vertical Item */
.title-vert-item {
	height: 100%;
	width: 60px;
	vertical-align: top;
	display: inline-block;
	text-align: left;
	position: relative;
	text-align: center;
	margin-left: 10px;
	min-height: 300px;
	border-radius: var(--borderradius);
	border-color: var(--bgcolor);
	border-style: solid;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	color: var(--linkcolor);
}
.title-vert-item h1 {
	margin: 0px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

/* Front Image */
#front-image { 
	min-width: 100%;
	min-height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}
#front-image h1 {
	color: #ffffffa2;
	font-size: 100px;
	text-shadow: 0px 0px 10px #000000;
	z-index: 1;
}
#front-image img {
	z-index: 0;
	position: fixed;
	object-fit: cover;
	height: 90%;
	width: 100vw;
}

/* Projects */
#projects {
	width: 100%;
	padding-top: 10px;
}
#projects a:hover {
	border-color: var(--linkcolorhover);
	border-style: solid;
}
#project a:active {
	background: var(--linkcolorhover);
}

/* Artillery */
.artillery-output {
	display: inline-block;
	width: 50%;
}
#pitch-limit-notif-1, #pitch-limit-notif-2, #artillery-error {
	margin-left: 20px;
	color: var(--errorcolor);
	display: inline-block;
}

/* Media Query for Artillery Output */
@media only screen and (max-width: 1026px) {
	.artillery-output {
		display: block;
		width: 100%;
	}
}