@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--bgcolor: #2a2b2e;
	--bgcolor2: #27282c;
	--bgcolor3: #1a1c1fad;
	--bgcolorhover: #1a1c1f;
	--bggradient: linear-gradient(
        to bottom right,  
        var(--bgcolor), var(--bgcolor2)
    );
	--maincolor: #ceb992;
	--maincolor2: #769782;
	--linkcolor: #769782;
	--linkcolorhover: #769782;
	--fontsize: 16px;
}

/* Highlight color */
::selection {
	background: #1b1b1b;
}

html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	scrollbar-color: var(--bgcolor) var(--bgcolorhover);
	font-family: 'Roboto', Geneva, sans-serif, "Comic Sans Ms"; /* comic sans is awdesome */
	
	color: var(--maincolor);
	background: var(--bggradient);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	box-sizing: border-box;
	white-space: nowrap;
}

body {
	margin: 0px;
}

#main {
	font-size: var(--fontsize);
	margin-top: 50px;
	margin-left: 12%;
	margin-right: 12%;
	position: relative;

	box-sizing: border-box;
	flex-direction: column;
}

/* Basic styling -----------------------------------------------------------------------------------------------------------------------*/

p {
	line-height: 1.5;
	margin-left: 20px;
	margin-right: 20px;
}


a {
	color: var(--linkcolor);
	text-decoration: none;
	transition-duration: 250ms;
}
a:hover {
	color: var(--linkcolorhover);
	text-decoration: none;
}

h1 {
	font-weight: 200;
	color: var(--maincolor2);
	line-height: 1em;
}
h2 {
	font-weight: 200;
	color: var(--linkcolor);
	padding: 0em;
	line-height: 1em;
}
h3 {
	font-weight: 200;
	color: var(--linkcolorhover);
	line-height: 1em;
}


table {
	border-collapse: collapse; 
	border-radius: 5px;
	border-style: hidden;
}
table tr {
	border: 0px solid var(--bgcolor2); /* set to 3 to show border */
	padding: 10px;
}
table td {
	border: 0px solid var(--bgcolor2); /* set to 3 to show border */
	padding: 10px;
}


ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	padding-left: 10px;
	padding-top: 3px;
	padding-top: 3px;
}


input {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-color: var(--bgcolor);
	color: var(--linkcolor);
	border-style: solid;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	/* background: var(--linkcolor); */
	transition-duration: 250ms;
}
input:hover {
    border: 2px solid var(--linkcolorhover);
}
input:focus {
    border: 2px solid var(--linkcolor);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}


button {
	color: var(--linkcolor);
	padding: 10px;
    border-radius: 4px;
	border-color: var(--bgcolor);
	border-style: solid;
	width: 60px;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	transition-duration: 250ms;
}
button:hover {
    border-color: var(--linkcolorhover);
}
button:active {
    background: var(--linkcolorhover);
}


select {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: var(--linkcolor);
	border-radius: 4px;
	border-color: var(--bgcolor);
	border-style: solid;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	transition-duration: 250ms;
}
select a:hover {
    border: 2px solid var(--linkcolorhover);
    background: var(--linkcolor);
}


footer {
	flex-grow: 0;
	flex-shrink: 0;
	margin-top: 30px;
	margin-bottom: 10px;
}
footer hr {
	margin-left: 5%;
	margin-right: 5%;
}

/* Shizzle Mcnizzle -----------------------------------------------------------------------------------------------------------------------*/

#navbar {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	vertical-align: middle;
	z-index: 1;
	background-color: var(--bgcolor3);
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	overflow: hidden;
	transition: 250ms;
}
#navbar a {
	height: 100%;
	font-size: 20px;
	float: left;
	display: block;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	transition: 0.4s; 
    border-radius: 4px;
	border-style: solid;
	border-color: #00000000;
	transition-duration: 250ms;
}
#navbar a:hover {
	border-color: var(--linkcolorhover);
	background-color: var(--bgcolor3);

}


.horizontalscrollmenu {
	overflow-x: auto;
	overflow-y: hidden;
	width: 400%;
	white-space: nowrap;

	/* adds the fade effect to the edges */
	--mask: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 98%, rgba(5,5,5,0) 100%); 
	-webkit-mask: var(--mask); 
	mask: var(--mask);
}
.horizitem {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	height: 100%;
	width: 300px;
	white-space: normal;

	margin-left: 10px;
	margin-right: 10px;
}
.vertitem {
	display: block;
	height: 400px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 20px;
	min-height: 100px;
	border-color: var(--bgcolor);
	border-style: solid;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	color: var(--linkcolor);
	text-align: left;
}
.vertitem img {
	border-radius: 15px 15px 0px 0px;;
	object-fit: cover;
	height: 50%;
	width: 100%;
}
.vertitem h2 {
	position: absolute;
	top: 8px;
	left: 16px;
	margin-left: 10px;
	white-space: pre
}
.vertitem div {
	margin-left: 10px;
	color: var(--maincolor);
	position: relative;
	top: 50%;
}

.titlevertitem {
	display: block;
	height: 50px;
	width: 100%;
	margin: 0px;
	border-radius: 20px;
	border-color: var(--bgcolor);
	border-style: solid;
	background-color: #00000000;
	box-shadow: 0px 0px 10px var(--bgcolorhover);
	color: var(--linkcolor);
	border-color: var(--linkcolor);
	margin-bottom: 30px;
}
.titlevertitem h1 {
	margin: 10px;
	vertical-align: middle;
}


#frontimage { 
	width: 100%;
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("http://images.huffingtonpost.com/2017-02-05-1486270544-2435418-RockyMountainNationalPark045.jpg");
	box-shadow: 0px 0px 10px var(--bgcolorhover);
}
#frontimage h1 {
	mix-blend-mode: difference;
	color: #ffffff;
	text-shadow: 0px 0px 10px var(--bgcolorhover);
	font-size: 100px;
}


#projects {
	width: 100%;
	padding-top: 10px;
}
#projects a:hover {
    border-color: var(--linkcolorhover);
	border-style: solid;
}
#project a:active {
    background: var(--linkcolorhover);
}


/* Responsiveness */
/* @media screen and (max-width: 700px) {
	#navbar {
		width: 100px;
	}

	#main {
		margin-left: 0px;
		margin-right: 0px;
	}
} */

/* @media screen and (max-width: 580px) {
	#navbar {
		padding: 0px 0px !important; 
	}
	#navbar a {
		float: none;
		display: block;
		text-align: left;
	}
	#navbar-right {
		float: none;
	}
}  */ /* Use !important to make sure that JavaScript doesn't override the padding on small screens */